ul {
    list-style:none; 
	padding:0; 
	margin:0; 
	width:500px ;
}
li {
    border:1px solid #ccc; 
	background:#eee; 
	padding:5px 10px; 
	color:#000;
}
.checked{
	text-decoration:line-through; 
	color:#c00;
}
li span {
	padding-left:10px;

}
